.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2); 
    padding-right: 20px; 
    padding-top: 20px;
    z-index: 1001; 
    
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #ffc107; /* Change color on hover */
    font-size: 22px;
    text-decoration: underline;
  }
  