.order-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: rgb(32, 32, 32);
  padding: 20px;
  border: 0.2px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  z-index: 999;
}

.order-popup h2 {
  margin-top: 0;
}

.order-popup p {
  margin: 0;
}

.order-popup img {
  align-self: center;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.order-popup input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
}

.order-popup .buttons {
  display: flex;
  
  justify-content: space-between;
}
